html, body {
    background-repeat: no-repeat;
    background-color: #F7ECDF;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    scroll-behavior: smooth;
    cursor: url('/static/cursor.png'), auto;
  }

#greetings{
    font-family: 'Yeseva One', cursive;
    font-size: 45px;
    color: #EF972E;
}

#makeaccount{
    font-family: 'Yeseva One', cursive;
    font-size: 30px;
    color: rgb(255, 197, 126);
}


p, li{
    font-family: Raleway;
    font-size: 15px;
    color: #755c41;
}

#top{
    font-size: 60px;
}
  


/* story 9 css */

/* .button{
    border-radius:25px;
    border:2px solid lightgray;
    padding:7px 20px 7px 20px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: whitesmoke;
    font-family: Raleway;
} */

.button{
    background-color: #EF972E;
    font-family: Raleway;
    border-radius: 20px;
    color: white;
    text-align: center;
}

.button:focus-within {
    border-color: #fea94e;
    box-shadow: 0 0px 10px rgba(255, 208, 52, 0.274);
}

.button svg{
    color:lightgray;
    cursor: pointer;
    margin-right: 15px;
}

h1{
    font-family: 'Yeseva One', cursive;
    color: #EF972E;
}


h3{
    font-family: Mermaid;
    color: #E5C29A;
    font-size: 25px;
}

#username{
    font-family: Mermaid;
    color: #444;
    background-color: transparent;
    border: none;
    outline: 0;
    font-size: 25px;
    max-width: 500px;

}

#password{
    font-family: Mermaid;
    color: #444;
    background-color: transparent;
    border: none;
    outline: 0;
    font-size: 25px;
    max-width: 500px;

}


#signUpdiLogin{
    font-family: Raleway;
    color: #D6CDC6;
    background-color: transparent;
    font-weight: bold;
}

.invalid {
    margin-bottom: 20px;
    color: #8E0E00;
    font-size: 20px;
    font-weight: bold;
    font-family: Raleway;
}
