<!doctype html>
{% load static %}
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <!-- CSS Style -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}" media="screen"/>

    <!-- FONT -->
    <link href="https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js"></script>

    {% if user.is_authenticated %}
        <title>welcome, {{ request.user }}! | z a h r a</title>
    {% else %}
        <title>w e l c o m e ! | z a h r a</title>
    {% endif %}

    

    </head>

  <body>
        <div class="row-lg-12 text-center " style="margin-top: 100px;">
            <div class="container">
                {% if user.is_authenticated %}
                <div class="col-10 ml-auto mr-auto">
                    <h1 id="greetings">hi! welcome, {{request.user}}!</h1>
                    <h3>your name is {{user.first_name}} {{user.last_name}}</h3>
                    <h3>your email is {{user.email}}</h3>
                    <h3>here is a photo of you</h3>
                    <img src="{{user.profile.profilePhoto}}" style="height: 200px; width: auto; margin-left: auto; margin-right: auto">
                    <br>
                    <a href="logout/"><button type="submit" class="btn align-middle button" id="logOut" style="width: 100px; margin:20px;">log out</button></a>
                </div>
                {% else %}
                <div class="col-10 ml-auto mr-auto">
                    <h1 id="greetings">hi! welcome. do you have an account?</h1>
                    <a href="login/"><button type="submit" class="btn align-middle button" id="logIn" style="width: 100px; margin:20px;">log in</button></a>
                </div>
                <div class="col-10 ml-auto mr-auto">
                    <h2 id="makeaccount">or do you want to make an account?</h2>
                    <a href="signup/"><button type="submit" class="btn align-middle button" id="signUp" style="width: 100px;">sign up</button></a>
                </div>
                {% endif %}                 
            </div>
        </div>
        

        <script src="https://code.jquery.com/jquery-3.5.0.js" integrity="sha256-r/AaFHrszJtwpe+tHyNi/XCfMxYpbsRg2Uqn0x3s2zc=" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

</body>