<!doctype html>
{% load static %}
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <!-- CSS Style -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}" media="screen"/>

    <!-- FONT -->
    <link href="https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js"></script>

    
    <title>l o g i n | z a h r a</title>

    </head>

<body>
    <div class="container">
        <div class="row mt-3">
          <a href="/"><button class="btn button" id="back">🡄</button></a>
        </div>
    </div>
        <div class="container">
            <div class="row" style="margin-top: 5%;">
                <h1 class="text" id="top">hi! how are you?</h1>
            </div>
            <div class="row">
                <form method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <h3 class="invalid">{{message}}</h3>
                        <h3 class="text">username</h3>
                        <input type="text" class="form-control" id="username" name="username" maxlength="40" placeholder=". . ."><br>
                        <h3 class="text">password</h3>
                        <input type="password" class="form-control" id="password" name="password" maxlength="40" placeholder=". . ."><br>
                        <button type="submit" class="btn button" id="logIn" name="logIn">log in</button>
                        <a href="/signup/" class="btn align-middle" id="signUpdiLogin" style="width: 100px;">sign up</a>
                    </div>
                </form>
            </div>
        </div>
        

    <script src="https://code.jquery.com/jquery-3.5.0.js" integrity="sha256-r/AaFHrszJtwpe+tHyNi/XCfMxYpbsRg2Uqn0x3s2zc=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    
</body>