<!doctype html>
{% load static %}
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <!-- CSS Style -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}" media="screen"/>

    <!-- FONT -->
    <link href="https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js"></script>

    
    <title>s i g n  u p | z a h r a</title>

    <style>
        label{
            font-weight: bold;
        }
        input{
            padding: 5px;
            padding-left:15px;
            width: 800px;
            background-color: #E5C29A;
            /* border: 0; */
            /* outline: 0; */
            border: none;
            border-radius: 30px;
            font-size: 20px;
            color: #EEE;
        }
        #id_username{
            margin-left: 105px;
            /* margin */
        }
        #id_password1{
            margin-left: 110px;
        }
        ul li {
            margin-left: 175px;
        }
        #id_password2 {
            margin-left: 5px;
        }
        span{
            margin-left: 200px;
        }
        
    </style>

    </head>

  <body>
      <div class="container">
          <div class="row mt-3">
            <a href="/"><button class="btn button" id="back">🡄</button></a>
          </div>
      </div>
        <div class="container">
            <div class="row">
                <h1 style="font-family: 'Yeseva One', recursive; font-size: 60px; color: #EF972E;">create a new account</h1>
                <form method="post" enctype="multipart/form-data" >
                    {% csrf_token %}
                    {{ form.as_p }}
                    <a href="login/"><button class="btn button" id="signUp">sign up</button></a>
                </form>        
            </div>
        </div>
        

    <script src="https://code.jquery.com/jquery-3.5.0.js" integrity="sha256-r/AaFHrszJtwpe+tHyNi/XCfMxYpbsRg2Uqn0x3s2zc=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

</body>